<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head lang="zh">
  <title>随堂预约</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico"> -->

  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/font-awesome.min.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/base.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/daterangepicker-bs3.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/moment.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/daterangepicker.js') }}"></script>

  <style >
  body{
    background-color: #f1f7f1;
    font-size: 30px;
  }
  h2 {
    font-size: 40px;
  }
  img {
    width: 70%;
  }
  .top-container{
    width:100%;
  }
  .top-img{
    width:100%;
    height:100%;
  }
  .table {
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  caption {
    padding-top: 50px;
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color:#333;
  }
  .well{
    width: 70%;
    float:left;
  }
    .logout,.history{
    float:right;
    font-size:30px;
    padding-right:40px;
    padding-bottom:40px;
  }
  </style>
</head>

<body>
  <div class="top-container">
    <img src="{{url_for('static', filename='img/logo.png')}}" class="top-img">
    <div class="logout">
      {% if session.username is none%}
        <a href="" id="signin">登录</a>  
      {% else %} 
        <a href="{{url_for('logout')}}" id="signout">注销</a>   
      {% endif %} 
    </div>
    <div class="history">
      <a href="{{ url_for('index') }}">开始预约</a>
    </div>
  </div>
  <div class="content">

  <div class="well">
    <form class="form-horizontal">
      <fieldset>
        <div class="control-group"> 
          <div class="controls">
            <div class="input-prepend input-group">
              <span class="add-on input-group-addon">
                <i class="glyphicon glyphicon-calendar fa fa-calendar">
                </i>
              </span>
              <input type="text" style="width: 200px" name="reservation" id="reservation"
                    class="form-control" value="03/18/2013 - 03/23/2013" />
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>  


    <table class="table table-striped">
      <caption>预约记录</caption>
      <thead>
        <tr>
          <th>时间地点</th>
          <th>实验类别与名称</th>
          <th>图片</th>
          <th>状态</th>
        </tr>
     </thead>
     <tbody>
        {% for order in orders %}
        <tr>
          <td>
            <div>{{ order.week }}</div>
            <div>{{ order.day }}</div>
            <div>{{ order.time }}</div>
            <div>{{ order.classroom }}</div>
          </td>
          <td>
            <div>{{ order.subject }}</div>
            <div>{{ order.lesson }}</div>
          </td>
          <td><img src="{{url_for('static', filename='img/wx000%s.jpg'|format(order.lesson_num|string))}}"></td>
          <td>删除</td>
        </tr>
        {% endfor %}
        
      </tbody>
    </table>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#reservation').daterangepicker(null,
      function(start, end, label) {
        console.log(start.toISOString(), end.toISOString(), label);
      });
    });
  </script>
</body>

</html>

