<!DOCTYPE html>
<html>
<head lang="zh">
  <title>随堂预约</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico"> -->


  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/base.css') }}">
  <script type="text/javascript" src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

  <style >
  body{
  	 font-size:30px;
  }
  h2 {
    text-align: center;
  }
 .top-container{
    width:100%;
    clear:both;
  }
  .top-img{
    width:100%;
    height:100%;
  }

  .login-btn {
    margin: 50px auto;
    font-size: 24px;
    padding: 20px 0;
    width: 50%;
  }
  .content{
    height:auto;
    margin-top:20px;
        clear:both;
  }
  .equp-img{
  	width:50%;
  	float:left;
    text-align:center;
    margin-bottom:30px;
  }
  img{
  	width:70%;
  }
  .checkbox input[type=checkbox]{
    margin-top: 10px;
  }
  .sub-btn{
    width:60%;
    padding:20px 0;
    margin-left:auto;
    margin-right: auto;
  }


  </style>
</head>

<body>
  <div class="top-container">
    <img src="{{url_for('static', filename='img/logo.png')}}" class="top-img">
   <!--  <div class="logout">
      <a href="">注销</a>
    </div>
    <div class="history">
      <a href="">预约历史</a>
    </div> -->
  </div>

  <div class="content">
    <span>
      您将在{{week}}{{day}}的{{time}}课{{classroom}}教室预约{{subject}}类别的仪器
    </span>
    <h2>请选择仪器</h2>

    {% for les in lessons%}
    <div class="equp-img">
      <div>
        <img src="{{ url_for('static',filename='img/wx000%s.jpg'|format(les.num|string) ) }}">
      </div>
      <input type="checkbox" value="{{ les.name }}" id="{{les.num}}"  name="lesson"/>{{ les.name }}
    </div>
    {% endfor %}

    <!-- <button class="sub-btn btn btn-lg btn-primary btn-block" onclick="chk()" value="提 交">提 交</button> -->
    <!-- <button class="sub-btn btn btn-lg btn-primary btn-block" data-toggle="modal" 
   data-target="#myModal">提 交</button> -->
   <button class="sub-btn btn btn-lg btn-primary btn-block" onclick="openmodal()">提 交</button>

  </div>


  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" 
   aria-labelledby="myModalLabel" aria-hidden="true">
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-header">
            <button type="button" class="close" 
               data-dismiss="modal" aria-hidden="true">
                  &times;
            </button>
            <h4 class="modal-title" id="myModalLabel">
               您即将预约的实验器材为：
            </h4>
         </div>
         <div class="modal-body" id="myModalBody">
            
         </div>
         <div class="modal-footer">
            <button type="button" class="btn btn-default" 
               data-dismiss="modal">关闭
            </button>
            <a id="sendrequest" href="" class="btn btn-primary">
               确认预定
            </a>
           <!--  <button type="button" class="btn btn-primary">
               确认预定
            </button> -->
         </div>
      </div><!-- /.modal-content -->
</div><!-- /.modal -->


  <script type="text/javascript">
    function openmodal(){
      var selected_lessons=[]; 
      selected_lessons = chk();
      var myModalBody = '';
      // alert(selected_lessons);
      for(var i=0; i<selected_lessons.length; i++){
        myModalBody += selected_lessons[i].split("/")[0]+";  ";
        // myModalBody += selected_lessons[i].lesname+";";
      }
      $("#myModalBody").html(myModalBody);
      // alert(selected_lessons);
      // var selected_lessons_str =  selected_lessons.toString();
      // alert(typeof(selected_lessons_str));
      // var href = "{{ url_for('get_order',lessons='$selected_lessons_str') }}";
      var href = "/wx/order/order?lessons="+selected_lessons;
      document.getElementById("sendrequest").setAttribute("href",href); 
      $('#myModal').modal('show');
    }


    function chk(){ 
      var obj=document.getElementsByName('lesson'); //选择所有name="'test'"的对象，返回数组 
      //取到对象数组后，我们来循环检测它是不是被选中 
      var list=[]; 
      for(var i=0; i<obj.length; i++){ 
        if(obj[i].checked) {
          // lesdetail = new Object();
          // lesdetail.lesname = obj[i].value;
          // lesdetail.lesid = obj[i].id;
          // list.push(lesdetail)
          list.push(obj[i].value+'/'+obj[i].id)
          // s+="{lesson:'"+obj[i].value+"',num:'"+obj[i].id+"'},";
        }
          
      } 
      //那么现在来检测s的值就知道选中的复选框的值了 
      // alert(list==''?'你还没有选择任何内容！':list); 
      return list;
    } 

  </script>

</body>

</html>