{% set page_title = '登陆' %}
{% extends "admin/base.html" %}

{% block css %}
<style>

</style>
{% endblock %}

{% block main %}
<form class="form-signin" action="{{ url_for('admin_login',action='login') }}" method="post">
      <h2 class="form-signin-heading">管理员入口</h2>
      <label for="username" class="sr-only">username</label>
      <input type="text" name="username" class="form-control" placeholder="用户名" required autofocus>
      <label for="password" class="sr-only">Password</label>
      <input type="password" name="password" class="form-control" placeholder="密码" required>
      
      <button class="btn btn-lg btn-primary btn-block" type="submit">登录</button>
    </form>
{% endblock %}